.hero {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.hero-text{
    display: flex;
    flex-direction: column;
}

.hero-img{
    display:flex;
    justify-content: center;
}

.hero-img img {
    width:90vw;
    height: auto;
}

.hero-text h5{
 font-size: 14px;
 font-weight: 400;
 color: var(--secondary-color);
 margin-bottom:2.5rem;    
}

.hero-text h4{
    color: var(--secondary-color);
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0.6rem ;   
}

.hero-text h1{
    color: var(--accent-color);
    font-family: var(--fonte-secundaria);
    font-size: 3rem;
    margin: 0 0 0.5rem ;  
   }

   .hero-text p{
    color: var(--secondary-color);
    font-size:12px;   
   }  
   
.button {
    display: inline-block;
    color:var(--secondary-color);
    background:var(--primary-color);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
    margin-right: 0.5rem;
}

.button:hover{
    background: transparent;
    border: 1px solid var(--primary-color);
    transform: translateX(8px);
}

.icons {
    display: none;
}

.scroll-down {
    display: none;
}
.buttons{
    display:flex;
    justify-content: center;
}
@media screen and (min-width:1024px) {
    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .hero-img {
        padding-left: 3rem;
    }
    .hero-img img {
        width:30vw;
        height: auto;
    }

    section{
        padding: 0 14%;
    }

    .hero-text h1{
        font-size: 5.6rem;  
       }

    .buttons{
        justify-content: flex-start;
        margin-top:1rem;
    }   
   .icons{
    display: block;
    position:absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
   } 

   .icons a{
    text-decoration: none;
   }

   .icons i{
      display: block;
      margin: 1.6rem 0;
      font-size: 1.5rem;
      text-decoration: none;
      color: var(--secondary-color);
      transition: all .50s ease;     
    }
   .icons i:hover {
    color: var(--accent-color);
    transform: translateY(-5px);
   }
    
   .scroll-down{
     display:block;
     position: absolute;
     bottom: -3%;
     right: 3%;
   }

   .scroll-down a {
    text-decoration: none;
   }

   .scroll-down i{
    display:block;
    padding: 0.75rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
    background: var(--primary-color);
    border-radius: 30px;
    transition: all .50s ease;   
   }
   .scroll-down i:hover {
    transform: translateY(-5px);
   }
}   

@media screen and (min-width: 1728px) {

    .scroll-down{
        position: absolute;
        bottom: 3%;
        right: 5%;
      }
      .hero-img {
        padding-left: 5rem ;
    }
}
